
.container-div{
    padding: 50px;
}
.header-information{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.header-information h1{
    margin: 20px 0;
    font-size: 50px;
    color: red;
}
.header-information Button{
margin-top: 30px;
}
.Service-section{
    height: 325px;
    background-color: black;
    position: relative;
    margin: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
     justify-items: center;
       background: rgb(248, 248, 250);
      border-radius: 5px;
        box-shadow:
		0 2px 4px rgba(0,0,0,0.07), 
		0 2px 4px rgba(0,0,0,0.07), 
		0 2px 4px rgba(0,0,0,0.07), 
		0 2px 4px rgba(0,0,0,0.07),
		0 2px 4px rgba(0,0,0,0.07), 
		0 2px 4px rgba(0,0,0,0.07);
}
